/*
type your custom css here

*/
/**   Post Share Buttons   **/
/* .post_share{} */

.post_share_title{
  text-align: right; color: #ff2828;
}
.post_share_buttons{
  float:right;
}
.widget.post_share_buttons{
  margin-bottom: 0;
}
.post_share_buttons.widget ul{
  margin-bottom: 10px;
}
.post_share_buttons_list > li:last-child {
  margin-right: 0;
}
.post_share_buttons_list > li > a {
  cursor: pointer;
}

/**   Social widget   **/
.widget_athemes_social_icons_pic_and_buttons{
  width: 100%;
}
.widget_athemes_social_icons_pic_and_buttons ul{
  margin-bottom: 0;
}
.widget_athemes_social_icons_pic_and_buttons_avatar img{
  width: 100%;
}
/* .widget_athemes_social_icons_pic_and_buttons_buttons{
  
} */
.widget_athemes_social_icons_pic_and_buttons > div{
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.widget_athemes_social_icons_description{
  padding-top: 10px;
  text-align: justify;
  font-size: 14px;
}
.post_share_full_name{
  color: #ff2828;
}



/* My Skills */



/* Stats */
.stats-container {
  width: 100%;
  font-family: sans-serif;
}

.stats-container .stat-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 19%;
  padding: 2%;
}

.stats-container .stat-item img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.stats-container .stat-path,
.stats-container .stat-back {
  stroke-linecap: round;
  stroke-width: 7;
  fill: none;
}

@media only screen and (max-width: 580px) {
  .stats-container .stat-item {
    width: 32%;
  }
}

/* Tooltip */
.stats-container .skills-tooltip .skills-tooltiptext {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 6px 12px;
  background: #dddddd;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  z-index: 1;
}

.stats-container .skills-tooltip .skills-tooltiptext span {
  display: block;
  color: #ffffff;
}

.stats-container .skills-tooltip .skills-tooltiptext:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent currentColor transparent;
}

.stats-container .skills-tooltip:hover .skills-tooltiptext {
  visibility: visible;
}






.reading-progress {
  height: 3.5em;
  width: 100%;
  background-color: rgba(255, 40, 40, 0.5);
  position: relative;
  /* margin-top: 1em; */
  border-radius: 0;
  color: white;
 font-weight: bolder;
}
.reading-progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  right: 0;
}
.reading-progress .readingText{
  position: absolute;
  top: calc(50% - 6px);
  right: 0;
  font-size: 12px;
  left: 0;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}
.reading-progress .value {
  background-color: #ff2828;
  display: inline-block;
  height: 100%;
  opacity: 0.5;
}